<h1 class="pageName">messages</h1>

{{#if errorDB}}
  <p>Internal server error</p>
{{else}}
  {{#if contact.length}}
    {{#each contact}}
      <div class="message">
        <h3>{{name}}</h3>
        <p>{{email}}</p>
        <p>{{message}}</p>
        <form action="/deleteMessage/{{id}}" method="POST">
          <input class="deleteButton" type="submit" value="delete" />
        </form>
      </div>
    {{/each}}
  {{else}}
    <p>No messages atm</p>
  {{/if}}
{{/if}}