{{#if errorMessages.length}}
  {{#each errorMessages}}
    <p class="err">{{this}}</p>
  {{/each}}
{{/if}}

{{#if project}}
  <h1 class="pageName">{{project.title}}</h1>
  <div class="singleProject">
    <button
      style="background-color: {{project.color}};"
      class="catButton"
    >{{project.category}}</button>
    <p>{{project.description}}</p>
    {{#if isLoggedIn}}
      <form
        action="/projects/{{project.id}}"
        method="POST"
        enctype="multipart/form-data"
      >
        <div>
          <input
            class="inputField"
            type="file"
            name="projectImage"
            placeholder="image"
            value="{{projectImage}}"
          />
        </div>
        <input class="niceButton" type="submit" value="add" />
      </form>
    {{/if}}
    {{#if photos.length}}
      {{#each photos}}
        <img
          class="photoStyle"
          src="/uploads/{{projectImage}}"
          alt="An image showing part of my project"
        />
        {{#if ../isLoggedIn}}
          <form action="/deletePhoto/{{id}}/{{projectID}}" method="POST">
            <input class="deleteButton" type="submit" value="delete" />
          </form>
        {{/if}}
      {{/each}}
    {{else}}
      <p>No photos atm</p>
    {{/if}}
    <p>{{project.repository}}</p>
    <a class="link" href="{{project.link}}" target="_blank">{{project.link}}</a>
    <p>{{project.date}}</p>
  </div>
{{else}}
  <p>That project does not exist</p>
{{/if}}