<h1>project</h1>

{{#if project}}
  <p>Project name: {{project.title}}</p>
  <p>Project category: {{project.category}}</p>
  <p>Project description: {{project.description}}</p>
  <p>Project imageURL1: {{project.imageURL1}}</p>
  <p>Project repository: {{project.repository}}</p>
  <p>Project link: {{project.link}}</p>
  <p>Project date: {{project.date}}</p>
{{else}}
  <p>That project does not exist</p>
{{/if}}