<h1 class="pageName">project edit</h1>
{{#if errorMessages.length}}
  {{#each errorMessages}}
    <p>{{this}}</p>
  {{/each}}
{{/if}}

<form
  class="form"
  action="/projectEdit/{{project.id}}"
  method="POST"
  enctype="multipart/form-data"
>
  <div>
    <input
      class="inputField"
      type="text"
      name="title"
      placeholder="title"
      value="{{project.title}}"
    />
  </div>
  <div class="categoryChoice">
    <div class="choice">
      <p>Graphic Design</p>
      <input
        class="radio"
        type="radio"
        name="category"
        id="category1"
        value="graphicDesign"
      />
      <label for="category1"></label>
    </div>
    <div class="choice">
      <p>Web Development</p>
      <input
        class="radio"
        type="radio"
        name="category"
        id="category2"
        value="webDevelopment"
      />
      <label for="category2"></label>
    </div>
    <div class="choice">
      <p>3D Graphics</p>
      <input
        class="radio"
        type="radio"
        name="category"
        id="category3"
        value="3dGraphics"
      />
      <label for="category3"></label>
    </div>
  </div>
  <div>
    <input
      class="inputField"
      type="text"
      name="description"
      placeholder="description"
      value="{{project.description}}"
    />
  </div>
  <div>
    <input
      class="inputField"
      type="file"
      name="image"
      placeholder="image"
      value="{{project.image}}"
    />
  </div>
  <div>
    <input
      class="inputField"
      type="text"
      name="repository"
      placeholder="repository"
      value="{{project.repository}}"
    />
  </div>
  <div>
    <input
      class="inputField"
      type="text"
      name="link"
      placeholder="link"
      value="{{project.link}}"
    />
  </div>
  <div>
    <input
      class="inputField"
      type="date"
      name="date"
      placeholder="date"
      value="{{project.date}}"
    />
  </div>
  <div>
    <input class="niceButton" type="submit" value="save" />
  </div>
</form>