<h1>project create</h1>
{{#if errorMessages.length}}
  {{#each errorMessages}}
    <p>{{this}}</p>
  {{/each}}
{{/if}}

<form action="/projectCreate" method="POST" enctype="multipart/form-data">
  <div>
    <input type="text" name="title" placeholder="title" value="{{title}}" />
  </div>
  <div>
    <p>Graphic Design</p>
    <input type="radio" name="category" id="category1" value="graphicDesign" />
    <label for="category1"></label>
    <p>Web Development</p>
    <input type="radio" name="category" id="category2" value="webDevelopment" />
    <label for="category2"></label>
    <p>3D Graphics</p>
    <input type="radio" name="category" id="category3" value="3dGraphics" />
    <label for="category3"></label>
  </div>
  {{! here i would like to make buttons that display "graphic design", "web dev", "3d graphics" and after clicking one of them the appropriate category should be added to the database }}
  <div>
    <input
      type="text"
      name="description"
      placeholder="description"
      value="{{description}}"
    />
  </div>
  {{! here i would like to have photos of my projects }}
  <div>
    <input
      type="file"
      name="imageURL1"
      placeholder="image1"
      value="{{imageURL1}}"
    />
  </div>
  <div>
    <input
      type="text"
      name="repository"
      placeholder="repository"
      value="{{repository}}"
    />
  </div>
  <div>
    <input type="text" name="link" placeholder="link" value="{{link}}" />
  </div>
  <div>
    <input type="date" name="date" placeholder="date" value="{{date}}" />
  </div>
  <div>
    <input type="submit" value="create" />
  </div>
</form>