<div id="categories">
  <div class="categoryForm">
    <form action="/projects" method="GET">
      <button id="cat0" class="categoryButton" type="submit">All</button>
    </form>
  </div>
  <div class="categoryForm">
    <form action="/projects/graphicDesign" method="GET">
      <button id="cat1" class="categoryButton" type="submit">Graphic Design</button>
    </form>
  </div>
  <div class="categoryForm">
    <form action="/projects/webDevelopment" method="GET">
      <button id="cat2" class="categoryButton" type="submit">Web Development</button>
    </form>
  </div>
  <div class="categoryForm">
    <form action="/projects/3dGraphics" method="GET">
      <button id="cat3" class="categoryButton" type="submit">3D Graphics</button>
    </form>
  </div>
</div>

{{#if projects.length}}
  <div id="projectsContainer">
    {{#each projects}}
      <div class="oneProject">
        <div>
          <h4>{{title}}</h4>
        </div>
        <div>
          <button style="background-color: {{color}};" class="catButton">{{category}}</button>
          <form action="/projects/{{id}}" method="GET">
            <input class="niceButton" type="submit" value="see more" />
          </form>
        {{#if ../isLoggedIn}}
          <form action="/projectEdit/{{id}}" method="GET">
            <input class="editButton" type="submit" value="edit" />
          </form>
          <form action="/sure/{{id}}" method="GET">
            <input class="deleteButton" type="submit" value="delete" />
          </form>
        {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>No projects atm</p>
{{/if}}