<h1>projects</h1>
{{#if errorDB}}
  <p>Internal server error</p>
{{else}}
  {{#if projects.length}}
    <ul>
      {{#each projects}}
        <li><a href="/projects/{{id}}">{{title}}</a></li>
        <form action="/projectEdit/{{id}}" method="GET">
          <input type="submit" value="edit" />
        </form>
        <form action="/sure/{{id}}" method="GET">
          <input type="submit" value="delete" />
        </form>
      {{/each}}
    </ul>

  {{else}}
    <p>No projects atm</p>
  {{/if}}
{{/if}}